.ranking-area, .meu-ranking-area {
    width: 360px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
.ranking-list {
  border-radius: 8px;
  background-color: #000000a9;
  padding: 14px;
}

  .ranking-header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #ae0287;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: #ae0287;
  }
  
  .ranking-header img {
    height: 100px;
    width: 100%;
  }
  
  .ranking-list, .meu-ranking-conquistas {
    display: flex;
    flex-direction: column;
    width: 100%; 
  }
  
  .ranking-item, .meu-ranking-conquista {
    display: flex;
    border-radius: 5px;
    padding: 6px;
    background-color: #39003ead;
  }

  .ranking-item {
    margin: 6px;
  }
  
  .item-avatar, .meu-conquistas-img {
    height: 40px;
    width: 40px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2px;
  }
  
  .item-avatar img,
  .meu-conquistas-img img {
    height: 40px;
    width: 40px;
  }
  
  .item-content {
    flex: 1;
    height: 40px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
  }
  
  .item-score {
    color: salmon;
    flex:1;
  
  }
  
  .item-conquistas {
    display: flex;
    width: 100%;
    flex: 1;
    justify-content: space-around;
  }
  
  .item-conquistas img {
    height: 20px;
    width: 20px;
    
  }