body{
    background-image: url('../../../public/images/background2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn{
  margin: 0px 6px 0px 6px;
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 8px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 5px;
  background-color: #39003e;
}